body{
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

.header{
    background-image: url('../images/bg-header-desktop.svg');
    background-size: cover;
    height: 150px;
    background-color: hsl(180, 29%, 50%);
    border: 1px solid red;
}

.joblist{
    margin: 0;
    background-color: #F0FAFB;
}
.wrapper{
    
    padding: 100px;
}
.job{
 border: 1px solid red;
 display: flex;
 justify-content: space-between;
 background-color: white;
}

.job img{
border-radius: 50%;
padding: 1.5em;
} 


.job-info{
    display: flex;
}

.workinsihts{
 display: flex;
 
 font-weight: bold;
 align-items: center;
 font-size: 15px;
}
.ocupation{
 font-size: 22px;
 font-weight: 700;
}
.badge{
    background-color: hsl(180, 29%, 50%);
    border-radius: 11px;
    padding: 5px;
    color: white;
    
}

.badge1{
    background-color: hsl(180, 14%, 20%);
    border-radius: 11px;
    padding: 5px;
    color: white;
}

.require{
 display: flex;
 color: rgb(170, 169, 169);
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.skills p{
    background-color:#F0FAFB;
}